@import "../../components/__styles__/variables.styl"

.banner-container
  height 240px
  background-image linear-gradient(to bottom, $business-blue, rgb(44, 45, 107) 35%, rgb(112, 42, 131))
  display flex
  align-items flex-end
  justify-content center

.banner
  background-image $creator
  background-size 250px 200px
  width 250px
  height 200px

.text
  margin-bottom 32px