@import "../../components/__styles__/variables"

.input-container
  margin-top 32px
  display flex

.directions
  width auto

.country-code
  flex 0 0 120px
  margin-right 40px

  input
    text-align right !important

.national-number
  flex 1

.caption-container
  margin-top 8px
  margin-bottom 76px