@import "../../components/__styles__/variables.styl"

.text
  margin-bottom 40px

.address
  height 48px
  border-radius 4px
  background-color rgba(0, 207, 214, 0.05)
  border solid 1px $thingamajig-teal
  color $thingamajig-teal
  font-family $work-sans
  font-size 12px
  display flex
  align-items center
  justify-content center
  margin-bottom 14px
  cursor pointer

.password
  margin-bottom 40px

.error
  color $retrofuturism-red
  margin-bottom 40px