@require "../../components/__styles__/variables"

.balance, .balance-label
  text-align center

.balance
  margin-top 12px
  margin-bottom 4px
  font-family $work-sans
  font-size 48px
  color $dark

.balance-label
  margin-bottom 24px

.warning-icon-container
  display flex
  justify-content center
  align-items center
  margin-top 40px
  margin-bottom 32px

.warning-icon
  display block
  background-image url("/static/ic_error.svg")
  background-size 40px 40px
  width 40px
  height 40px

.top
  padding-bottom 32px

.tx-history
  flex 0 0 50%