@import "../../components/__styles__/variables"
@import "../../components/__styles__/common"

.footer
  margin-top auto
  background-image $gradient-footer
  display flex
  justify-content center
  align-items center
  padding 16px 40px
  min-height 48px

  a
    @extend a.link-underline