$videography-violet = #702a83
$playful-plum = #B62A8B
$thingamajig-teal = rgb(0, 207, 214)
$business-blue = rgb(39, 45, 105)
$retrofuturism-red = rgb(236, 43, 80)
$gray = rgb(84, 110, 122)
$cool-gray = rgb(176, 190, 197)
$white = rgb(247, 247, 247)
$dark = rgb(40, 42, 60)

$gradient = linear-gradient(135deg, rgb(39, 45, 105), rgb(44, 45, 107) 11%, rgb(46, 45, 108) 37%, rgb(112, 42, 131))
$gradient-gray = linear-gradient(103deg, rgb(255, 255, 255), rgb(247, 247, 247))
$gradient-footer = linear-gradient(97deg, rgb(255, 255, 255), rgb(247, 247, 247))

$work-sans = 'Work Sans', sans-serif

$logo = url("/static/logo.svg")
$logo-text = url("/static/logo_text.svg")
$logo-full = url("/static/logo_full.svg")
$logo-clear = url("/icons/clear32.png")

$menu-light = url("/static/menu-light.svg")
$menu-dark = url("/static/menu-dark.svg")

$account-circle = url("/static/ic_account_circle.svg")
$back = url("/static/ic_keyboard_backspace.svg")

$check = url("/static/check.svg")
$error = url("/static/error.svg")

$mark = url("/static/mark.svg")

$supporter = url("/static/supporter.png")
$creator = url("/static/creator.png")

$edit = url("/static/edit.svg")